.field {
	width: 90%;
	height: 600px;
	margin: 40px auto;
	border: 2px solid #858585;
  text-align: center;
}

.field div {
  position: relative;
	width:20%;
	height: 100px;
	margin: 50px 3%;
	background-color: #CFCFCF;
  display: inline-block;
	-webkit-transition: 0.1s ease;
	-moz-transition: 0.1s ease;
	-o-transition: 0.1s ease;
	transition: 0.1s ease;
}
.field div span {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left:0; right:0;
  width: 60%;
  padding: 5px 0 80px;
  margin: 0 auto;
  background-color: #FF85AD;
}
.rubber {
	position: absolute;
	top: 80px;
	left: 40px;
	width: 40px;
	height: 80px;
	background-color: #294AAB;
	border-radius: 6px;
	cursor: pointer;
}
.hide {
  display: none;
} 
.jump {
	-webkit-animation-name: jump;
  animation-name: jump;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
}
.black {
  background-color: black !important;
}
.rubber div {
	position: relative;
	top:-1px;
	background-color: #FF4D4D;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	width: 100%;
	height: 39px;
	border-bottom: 2px solid #FFA6A6;
}

@keyframes jump {
  0% {top: 10px;}
  10% {top: -40px;}
  20% {top: -72px;}
  30% {top: -88px;}
  40% {top: -94px;}
  45% {top: -98px;}
  50% {top: -100px;}
  55% {top: -98px;}
  60% {top: -94px;}
  70% {top: -88px;}
  80% {top: -72px;}
  90% {top: -40px;}
  100% {top: 10px;}
}
@-webkit-keyframes jump {
  0% {top: 10px;}
  10% {top: -40px;}
  20% {top: -72px;}
  30% {top: -88px;}
  40% {top: -94px;}
  45% {top: -98px;}
  50% {top: -100px;}
  55% {top: -98px;}
  60% {top: -94px;}
  70% {top: -88px;}
  80% {top: -72px;}
  90% {top: -40px;}
  100% {top: 10px;}
}